@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
button, 
input {
    font-family: inherit;
}

::-webkit-scrollbar{
  width: .6em;
}
::-webkit-scrollbar-track{
  background-color: white;
  margin-block: .3em;
}
::-webkit-scrollbar-thumb{
  background-color: #1DCF65;
  border: 2px solid white;
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover{
  background-color: rgb(54, 54, 54);
}
.swiper-pagination-bullet-active {
  background-color: #1DCF65 !important;
}
.swiper-button-prev {
  color: #1DCF65 !important;
  height: 50vh !important;
  padding: 0 2rem;
  left: 0 !important;
  top: 1.4rem !important;
}

.swiper-button-next {
  color: #1DCF65 !important;
  height: 50vh !important;
  padding: 0 2rem;
  right: 0 !important;
  top: 1.4rem !important;
}