.clothingHeader{
  width: 100%;
  min-height: 100vh;
  background-color: rgb(255, 218, 185);
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .description{
    width: 40%;

    h1{
      font-size: 2.5rem;
      font-weight: 600;
    }
    p{
      margin-top: 1rem;
      font-size: 1rem;
      line-height: 1.5rem;

      span{
        color: black;
      }
    }
    span{
      color: #1DCF65;
    }

  }
  .clothingImage{
    height: auto;
    width: 400px;
  }
}

// animation
.titleAnimation{
  opacity: 0;
  transition: 500ms;
  transform: translateY(50px);
  filter:blur(5px);
}
.titleAnimation.titleShow{
  transform: translateY(0);
  opacity: 1;
  filter:blur(0)
}
.paragraphAnimation{
  opacity: 0;
  transition: 500ms;
  transform: translateX(-50px);
  filter:blur(5px);
}
.paragraphAnimation.paragraphShow{
  transform: translateX(0);
  opacity: 1;
  filter:blur(0)
}
.clothingImage{
  opacity: 0;
  transition: 500ms;
  transform: translateX(-50px);
  filter:blur(5px);
}
.clothingImage.imageShow{
  transform: translateX(0);
  opacity: 1;
  filter:blur(0)
}


// responsive

@media(max-width: 800px){
  .clothingHeader{
    .description{
      h1{
        font-size: 2rem;
      }
    }

    .clothingImage{
      width: 330px;
    }
  }
}
@media(max-width: 700px){
  .clothingHeader{
    flex-direction: column-reverse;

    .description{
      width: 90%;
    }

    .clothingImage{
      margin-top: 3rem;
    }
  }
}
@media(max-width: 600px){
  .clothingHeader{
    .description{
      width: 95%;
    }

    .clothingImage{
      margin-top: 3rem;
      width: 250px;
      justify-content: center;
    }
  }
}
@media(max-width:375px){
  .clothingHeader{
    .description{
      h1{
        font-size: 1.7rem;
      }
    }
    .clothingImage{
      width: 220px;
    }
  }
}